name: zucryptwebstorage-build
on: [push]
env:
    EMSDK_VERSION: "3.1.8"
jobs:
  build-phc-winner-argon2-wasm-dev:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v2
       with:
          submodules: recursive
     - name: Cache Emscripten-SDK
       id: cache-emsdk
       uses: actions/cache@v3
       with:
        path: emsdk
        key: ${{ runner.os }}-emcc-${{env.EMSDK_VERSION}}
     - name: Checkout emscripten
       if: steps.cache-emsdk.outputs.cache-hit != 'true'
       uses: actions/checkout@v2
       with:
        repository: emscripten-core/emsdk
        path: emsdk
     - name: Install emsdk
       if: steps.cache-emsdk.outputs.cache-hit != 'true'
       run: |
              ./emsdk/emsdk install ${{env.EMSDK_VERSION}}
     - name: Configure emsdk and display version
       run: |
           ./emsdk/emsdk activate ${{env.EMSDK_VERSION}}
           source ./emsdk/emsdk_env.sh
           emcc --version
      - name: Make third party - phc-winner-argon2-wasm
        run: |
           cd thirdparty/phc-winner-argon2-wasm
           make clean
           make
           npm ci
           npm run clean
           npm run fmt
           npm run codeanalysis
           npm run build-prod
           npm run test
           npm run typedoc
           cd ../..
